/// 
/// Jacob Sampson
/// 

/* Base */

body {
    margin: 0 10%;
    padding: 0;
    display: block;
}

/* Solar System */

.solar-system {
    width: 80%;
    height: 80%;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    display: block;

    background-color: black;
}

.solar-system__planet {
    width: 20px;
    height: 20px;
    position: absolute;
    
    border-radius: 50%;
    
    &:nth-child(1) {
        background-color: rgb(43, 43, 136);
    }
    &:nth-child(2) {
        background-color: rgb(184, 48, 48);
    }
    &:nth-child(3) {
        background-color: rgb(219, 137, 60);
    }
    &:nth-child(4) {
        background-color: rgb(44, 206, 66);
    }
}