/* Base */
body {
  margin: 0 10%;
  padding: 0;
  display: block;
}

/* Solar System */
.solar-system {
  width: 80%;
  height: 80%;
  margin: 0 auto;
  padding: 0;
  position: absolute;
  display: block;
  background-color: black;
}

.solar-system__planet {
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 50%;
}

.solar-system__planet:nth-child(1) {
  background-color: #2b2b88;
}

.solar-system__planet:nth-child(2) {
  background-color: #b83030;
}

.solar-system__planet:nth-child(3) {
  background-color: #db893c;
}

.solar-system__planet:nth-child(4) {
  background-color: #2cce42;
}
